<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cconvertor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18920EB31F3984B000D033E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18920ECA1F3984B100D033E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18920ED51F3984B100D033E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
